.canvas{
    display: block;
    margin: 0 auto;
    margin-top: 20px;  
    
    background-image: url(http://localhost:3001/Blackjack.jpg);
    background-repeat: no-repeat;
    //background-attachment: fixed;
   // background-position: center;
    background-size: cover;
}

